$primaryColor: #020b13;
$secondaryColor: #DAA520;
$tertiaryColor:#FFD700;
$fontColor: #ffffff;
$secondaryFontColor: #24221f;
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a:link{
    color: $secondaryColor;
    font-weight: 600;
}
a:visited{
    color: $secondaryColor;
}
a:hover{
    color: $tertiaryColor;
}
body{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: $primaryColor;
    color: $fontColor;
    padding-top: 10vh;
    img{
        height: 20vh;
        border-radius: 10px;
    }
}
form{
    padding: 1rem;
    border-radius: 12px;
    border: 1px solid $secondaryColor;
    outline: none;
    margin-bottom: 20px;
    a{
        text-align: center;
        display: flex;
        justify-content: center;
        font-size: 75%;
     }
     a:link{
        color:  rgb(185, 93, 23);
    }
    a:hover{
        color: $secondaryColor;
    }
    input{
        border-radius: 12px;
        border: none;
        border-bottom: 1px solid $secondaryColor;
        outline: none;
        padding: 10px;
        margin-bottom:20px;
        background-color: $primaryColor;
        color: $fontColor;
        transition: 0.8s;
    }
    input:hover{
        background-color: $secondaryColor;
    }
    input[type=button]{
       width: 100%;
       background-color: $secondaryColor;
       margin-top: 20px;
       color:$primaryColor
    }
    input[type=button]:hover{
        background-color: $tertaryColor;
     }

}